html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #7e8c8d;
  text-decoration: none;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0,0,0,0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125,125,125,0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125,125,125,0.7);
  -webkit-border-radius: 6px;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#app {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}
#app #content {
  height: 100%;
}
#app #content .page {
  width: 100%;
}
#app #content .page.active {
  display: block;
}
#app #content .page header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  padding: 0 20px;
  height: 45px;
  background: #02a774;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app #content .page header .search {
  font-size: 25px;
}
#app #content .page header .address {
  width: 200px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#app #content .page header a {
  color: #fff;
  font-size: 14px;
}
#app #content .page .swiper-container {
  position: relative;
  position: relative;
  margin-top: 45px;
  height: 200px;
  background: #fff;
}
#app #content .page .swiper-container::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f1f1f1;
  content: '';
  bottom: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  #app #content .page .swiper-container::before {
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  #app #content .page .swiper-container::before {
    transform: scaleY(0.33);
  }
}
#app #content .page .swiper-container .swiper-item {
  display: flex;
  flex-wrap: wrap;
}
#app #content .page .swiper-container .swiper-item a {
  height: 72px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#app #content .page .swiper-container .swiper-item a img {
  display: block;
  width: 50px;
  height: 50px;
}
#app #content .page .swiper-container .swiper-item a span {
  font-size: 13px;
  color: #666;
}
#app #content .page .shop-list {
  position: relative;
  margin-top: 10px;
  background: #fff;
}
#app #content .page .shop-list::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  content: '';
  top: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  #app #content .page .shop-list::before {
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  #app #content .page .shop-list::before {
    transform: scaleY(0.33);
  }
}
#app #content .page .shop-list .shop-header {
  padding: 10px 10px 0;
}
#app #content .page .shop-list .shop-header i {
  font-size: 16px;
}
#app #content .page .shop-list .shop-header .shop-header-title {
  color: #999;
  font-size: 14px;
  line-height: 20px;
}
#app #content .page .shop-list .shop-container {
  margin-bottom: 50px;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li {
  position: relative;
  width: 100%;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f1f1f1;
  content: '';
  bottom: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  #app #content .page .shop-list .shop-container .shop-lists .shop-li::before {
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  #app #content .page .shop-list .shop-container .shop-lists .shop-li::before {
    transform: scaleY(0.33);
  }
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a {
  display: flex;
  box-sizing: border-box;
  padding: 15px 8px;
  width: 100%;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-left {
  width: 23%;
  height: 75px;
  box-sizing: border-box;
  padding-right: 10px;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-left .shop-img {
  display: block;
  width: 100%;
  height: 100%;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right {
  width: 77%;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-detail-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-detail-header .shop-title {
  width: 140px;
  color: #333;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-detail-header .shop-title::before {
  content: '品牌';
  display: inline-block;
  background: #ffd930;
  font-size: 11px;
  line-height: 11px;
  padding: 2px;
  border-radius: 2px;
  margin-right: 5px;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-detail-header .shop_detail_ul {
  display: flex;
  margin-top: 3px;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-detail-header .shop_detail_ul .supports {
  font-size: 10px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  padding: 0 2px;
  color: #999;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 8px;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-left {
  display: flex;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-left .star {
  font-size: 0;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-left .star .star-item {
  display: inline-block;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-left .star.star-24 .star-item {
  width: 10px;
  height: 10px;
  margin-right: 3px;
  background-size: 100% 100%;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-left .star.star-24 .star-item.on {
  background-image: url("../images/stars/star_on.png");
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-left .star.star-24 .star-item.half {
  background-image: url("../images/stars/star_half.png");
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-left .star.star-24 .star-item.off {
  background-image: url("../images/stars/star_off.png");
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-left .rating-section {
  font-size: 10px;
  color: #ff6000;
  margin-left: 4px;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-left .order-section {
  font-size: 10px;
  color: #666;
  transform: scale(0.8);
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-right {
  display: flex;
  font-size: 0;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-right .delivery-style {
  transform-origin: 35px 0;
  transform: scale(0.7);
  font-size: 12px;
  padding: 1px;
  border-radius: 2px;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-right .delivery-left {
  color: #fff;
  margin-right: -10px;
  background-color: #02a774;
  border: 1px solid #02a774;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-rating-order .shop-rating-order-right .delivery-right {
  color: #02a774;
  border: 1px solid #02a774;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-distance {
  display: flex;
  width: 100%;
  font-size: 12px;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-distance .shop-delivery-msg {
  transform-origin: 0;
  transform: scale(0.9);
  color: #666;
}
#app #content .page .shop-list .shop-container .shop-lists .shop-li >a .shop-right .shop-distance .segmentation {
  color: #ccc;
}
#app #footer {
  position: relative;
  z-index: 100;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #fff;
  color: #7e8c8d;
  display: flex;
}
#app #footer::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  content: '';
  top: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  #app #footer::before {
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  #app #footer::before {
    transform: scaleY(0.33);
  }
}
#app #footer .footer-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app #footer .footer-item.active {
  color: #02a774;
}
#app #footer .footer-item .iconfont {
  font-size: 22px;
  margin: 5px 0;
}
#app #footer .footer-item .footer-item-text {
  font-size: 12px;
}
