@import 'variable.styl'
@import "mixins.styl"
@import "reset.styl"

#app 
  width 100%
  height 100%
  background #f5f5f5
  #content 
    height 100%
    .page
      position absolute
      top 0
      left 0
      width 100%
      padding 45px 0 50px
      box-sizing border-box
      display none
      &.active
        display block
      header 
        position fixed
        z-index 100
        left 0
        top 0
        right 0
        padding 0 20px
        height 45px
        background $primary-color
        color #ffffff
        display flex
        justify-content space-between
        align-items center
        .search
          font-size 25px
        .address
          width 200px
          font-size 16px
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
        a 
          color #ffffff
          font-size 14px
      .swiper-container
        border-1px(#f1f1f1, $offset = bottom)
        position relative
        margin-top 45px
        height 200px
        background #ffffff
        .swiper-item
          display flex
          flex-wrap wrap
          a 
            height 72px
            width 25%
            display flex
            flex-direction column
            justify-content space-between
            align-items center
            img 
              display block
              width 50px
              height 50px
            span 
              font-size 13px
              color #666
      .shop-list
        border-1px(#e4e4e4, top)
        margin-top 10px
        background #ffffff
        .shop-header
          padding 10px 10px 0
          i 
            font-size 16px
          .shop-header-title
            color #999999
            font-size 14px
            line-height 20px
        .shop-container
          margin-bottom 50px
          .shop-lists
            .shop-li
              border-1px(#f1f1f1, $offset=bottom)
              width 100%
              >a
                display flex
                box-sizing border-box
                padding 15px 8px
                width 100%   
                .shop-left
                  width 23%
                  height 75px
                  box-sizing border-box
                  padding-right 10px
                  .shop-img
                    display block
                    width 100%
                    height 100%
                .shop-right
                  width 77%
                  .shop-detail-header
                    display flex
                    justify-content space-between
                    width 100%
                    .shop-title
                      width 140px
                      color #333
                      font-size 16px
                      line-height 16px
                      font-weight 700
                      &::before
                        content '品牌'
                        display inline-block
                        background #ffd930
                        font-size 11px
                        line-height 11px
                        padding 2px
                        border-radius 2px
                        margin-right 5px
                    .shop_detail_ul
                      display flex
                      margin-top 3px
                      .supports 
                        font-size 10px 
                        border 1px solid #f1f1f1
                        border-radius 2px
                        padding 0 2px
                        color #999999
                  .shop-rating-order
                    display flex
                    justify-content space-between
                    width 100%
                    margin-top 18px
                    margin-bottom 8px
                    .shop-rating-order-left
                      display flex
                      .star 
                        font-size 0
                        .star-item
                          display inline-block
                        &.star-24
                          .star-item
                            width 10px
                            height 10px
                            margin-right 3px
                            background-size 100% 100%
                            &.on
                              background-image url('../images/stars/star_on.png')
                            &.half
                              background-image url('../images/stars/star_half.png')
                            &.off
                              background-image url('../images/stars/star_off.png')
                      .rating-section
                        font-size 10px
                        color #ff6000
                        margin-left 4px
                      .order-section
                        font-size 10px
                        color #666666
                        transform scale(0.8)
                    .shop-rating-order-right
                      display flex
                      font-size 0
                      .delivery-style
                        transform-origin 35px 0
                        transform scale(0.7)
                        font-size 12px
                        padding 1px
                        border-radius 2px
                      .delivery-left
                        color #fff
                        margin-right -10px
                        background-color #02a774
                        border 1px solid #02a774
                      .delivery-right
                        color #02a774
                        border 1px solid #02a774
                  .shop-distance
                    display flex
                    width 100%
                    font-size 12px
                    .shop-delivery-msg
                      transform-origin 0
                      transform  scale(0.9)
                      color #666666
                    .segmentation
                      color #ccc
  #footer
    border-1px(#e4e4e4, top)
    z-index 100
    position fixed
    left 0
    bottom 0
    height 50px
    width 100%
    background-color #ffffff
    color #7e8c8d
    display flex
    .footer-item
      width 25%
      display flex
      flex-direction column
      align-items center
      &.active
        color $primary-color
      .iconfont
        font-size 22px
        margin 5px 0
      .footer-item-text
        font-size 12px

        
    
